* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.body {
	width: 100vw;
	height: 100vh;
}

.logo {
	width: 50px;
	margin-right: 5px;
}

.carousel-item > img {
	width: 100%;
  	height: 500px;
  	object-fit: cover;
  	object-position: center;
}

.carousel-caption {
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7));
	color: #000;
	border-radius: 10px;
}

header.jumbotron {
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../images/jumbotron-background.jpg"););
	/*background-image: url("../images/index-background.jpg");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
}

.lead {
	font-size: 0.95rem;
	font-style: italic;
}
