* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

.body {
	width: 100vw;
	height: 100vh;
}

.logo {
	width: 50px;
	margin-right: 5px;
}

.lead {
	font-size: 0.95rem;
	font-style: italic;
}

.message {
	color: red;
}

.jumbotron {
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../images/jumbotron-background.jpg"););
	/*background-image: url("../images/index-background.jpg");*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 400px;
}

.login {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../images/about-bg2.jpg"););
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}

.login h2 {
	text-align: center;
}