.register .promo {
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url("../images/promotion.jpg"););
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}

#success-message {
	color: green;
}

#error-message {
	color: red;
}